#### Copyright 2024, Battelle Energy Alliance, LLC, ALL RIGHTS RESERVED
# AquaPV Toolset

**Modules Avalable**
1) Floating solar generation tool
2) CAPEX estimation tool
3) Techno-economic analysis tool

## Floating solar generation

In [2]:
from src.Solar import getSolarGen

PV_gen = getSolarGen(
    zipcode=34785, 
    size=1, 
    dc_ac_ratio=1.3, 
    efficiency=90, 
    tilt=10, 
    num_years=1
    )

PV_gen

Date
2020-01-01 00:00:00    0.00000
2020-01-01 01:00:00    0.00000
2020-01-01 02:00:00    0.00000
2020-01-01 03:00:00    0.00000
2020-01-01 04:00:00    0.00000
                        ...
2020-12-31 19:00:00    0.29468
2020-12-31 20:00:00    0.16277
2020-12-31 21:00:00    0.09980
2020-12-31 22:00:00    0.04032
2020-12-31 23:00:00    0.00000
Freq: 60min, Name: Solar Generation (MW), Length: 8784, dtype: float64

## CAPEX tool

In [2]:
from src.CAPEX import *

CAPEX = get_CAPEX(
    project_size_MW_DC=33,
    DC_AC_conversion=1.2,
    tilt=5,
    module_wattage_DC=600,
    module_price_watt_DC=.31,
    inverter_price_watt_DC=.04,
    average_distance_to_shore_ft=100,
    sales_tax_percent=5,
    substation_upgrade_YES_or_NO="YES",
    grid_connection_voltage_kV=167,
    commercial_operation_date=2024,
    )

CAPEX

                       Cost $/W_dc    Total Cost Hard/Soft Cost
CAPEX
Solar Panels              0.271250  1.074150e+07      Hard Cost
Install Labor             0.266667  8.800000e+06      Soft Cost
Substation                0.192945  7.640625e+06      Hard Cost
Racking                   0.231429  7.637155e+06      Hard Cost
Overhead and Profit       0.171849  5.671007e+06      Soft Cost
DC EBOS                   0.069107  2.280538e+06      Hard Cost
Asset Management          0.056653  1.869539e+06      Soft Cost
Inverter                  0.035000  1.386000e+06      Hard Cost
Engineering               0.037500  1.237500e+06      Soft Cost
General Construction      0.033333  1.100000e+06      Soft Cost
AC EBOS                   0.032375  1.068375e+06      Hard Cost
Anchoring and Mooring     0.017042  5.623750e+05      Hard Cost
Gen-Tie                   0.013219  4.362150e+05      Hard Cost
Project Cost              1.428368  5.043083e+07     Total Cost

0.017042	5.623750e+05
0.015564	5.136217e+05

## Techno-economic analysis

In [5]:
# Import the module
from src.AquaPV import *

# Create an AquaPV object with defined data files
demo = AquaPV(
    name="Demo System",
    solar_file="example_data/CAISO_PV_gen.csv", 
    price_file="example_data/CAISO_price.csv",
    CAPEX_estimate = 1_000_000,
    CAPEX_CI_percent = 5,
    OPEX_estimate = 1_000,
    OPEX_CI_percent = 5,
    ITC_percent = 30,
    PTC_cents_per_kWh = 2.75,
    PTC_number_years = 10,
    annual_discount_rate = 4,
    life_expectancy = 30,
    )

# Look at some of the information of the object
print(demo)

print("LCOE TABLE")
display(demo.get_LCOE())

print("Payback Period Table (years)")
display(demo.get_payback_period())

**************************************************
Demo System:
**************************************************
Capital expense ($):
	High: $1,050,000
	Baseline: $1,000,000
	Low: $950,000

Operational expense ($/year):
	High: 1,050
	Baseline: 1,000
	Low: 950

Tax incentives:
	ITC: 30%
	PTC: 2.75 cents/kW

Other:
	Annual discount rate: 0.04
	Project lifetime: 30 years
**************************************************


LCOE TABLE

      CAPEX      OPEX        ITC        PTC       None
1       Low       Low  21.892348   18.84982  31.737748
2       Low  Baseline  21.921856  18.879328  31.767256
3       Low      High  21.951364  18.908836  31.796763
4  Baseline       Low  23.533248   20.49072  33.378648
5  Baseline  Baseline  23.562756  20.520228  33.408156
6  Baseline      High  23.592263  20.549736  33.437663
7      High       Low  25.174148   22.13162  35.019548
8      High  Baseline  25.203656  22.161128  35.049055
9      High      High  25.233163  22.190636  35.078563

Payback Period Table (years)

      CAPEX      OPEX       ITC       PTC       None
1       Low       Low  8.213699  7.526027  11.808219
2       Low  Baseline  8.221918  7.528767  11.813699
3       Low      High  8.224658  7.531507  11.821918
4  Baseline       Low  8.728767  7.934247  12.545205
5  Baseline  Baseline  8.734247  7.936986  12.550685
6  Baseline      High  8.736986  7.939726  12.558904
7      High       Low  9.405479  8.364384  13.216438
8      High  Baseline  9.408219  8.367123  13.221918
9      High      High  9.413699  8.369863  13.230137